* {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(254, 203, 0);
}

#ditto-logo {
   transform: scale(.5);
   position: absolute;
   top: 0;
   left: 0;
   margin-left: -40px;
   margin-top: -20px;
}

#survey {
    margin: 80px 0;
}

#question-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* you have to set the height and width of the parent div */
    width: 100%;
    height: 100%;
}

#question {
    background-color: rgb(226, 226, 226);
    width: 500px;
    /* border-radius: 4px; */
    padding: 10px;
    height: fit-content;
}

.arrows {
    width: 50px;
    height: 50px;
    margin: 0 25px;
    cursor: pointer;
    display: block;
}

.arrows.back {
    visibility: hidden;
}

#question-number-text {
    text-align: center;
    margin-top: -60px;
    font-size: 30px;
}

#question-text {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#answer-input {
    background-color: rgb(226, 226, 226);
    width: 80%;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    /* border-radius: 5px; */
    padding: 5px;
    transition: .2s;
}

#answer-input:hover {
    background-color: rgb(204, 204, 204);
    transition: .2s;
}

#answer-input:focus {
    background-color: whitesmoke;
    transition: .2s;
}

#survey div:last-of-type div input[type="text"] {
    margin-bottom: 50px;
}

#survey {
    text-align: center;
}

#radio-div {
    text-align: left;
    margin-left: 12px;
}

#submit-button {
    background: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    color: white;
    background-color: rgb(74, 74, 74);
    transition: .2s;
    margin-right: 438px;
    margin-top: 30px;
}

#submit-button:hover {
    background: none;
    border: 1px solid rgb(74, 74, 74);
    color: black;
    background-color: rgba(74, 74, 74, 0);
    transition: .2s;
}

label {
    margin-left: 3.5px;
    cursor: pointer;
}

/* label:hover {
    background-color: rgb(74, 74, 74);
    color: white;
} */

.input-div {
    display: inline-block;
    width: 80%;
    cursor: pointer;
    padding: 10px;
}

.input-div:hover {
    background-color: rgb(74, 74, 74);
    color: white;
}